<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% assign title = page.title | default: site.title | escape %}
  {% assign canonical = page.url | replace:'index.html','' | absolute_url %}
  {% assign description = page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | escape %}
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  {% if page.keywords %}
    {% if page.keywords.first %}
      {% assign keywords = page.keywords | join: ',' %}
    {% else %}
      {% assign keywords = page.keywords %}
    {% endif %}
    <meta name="keywords" content="{{ keywords }}">
  {% endif %}

  <link rel="stylesheet" href="{{ "/assets/main.css" | absolute_url }}">
  <style>
    body {
        font: 400 16px/1.5 Source Sans Pro,Cantarell,Droid Sans,Ubuntu,DejaVu Sans,Arial,sans-serif;
    }
    .site-header {
        background-color: #4a86cf;
        color: white;
    }
   .site-title, .site-title:visited {
        color: white
    }
    img {
        margin: 20pt;
    }
  </style>
  <link rel="canonical" href="{{ canonical }}">
  {% assign feed_path = "/feed.xml" %}
  {% if site.feed and site.feed.path %}
    {% assign feed_path = site.feed.path %}
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ feed_path | absolute_url }}">

  {% include head_custom.html %}
</head>
